/* Default formatting STARTS */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    z-index: 1;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 26pt;
    line-height: normal;
}
/* Default Formatting ENDS */

/* Navigation Formatting Starts */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
    z-index: 2;
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #444;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    padding: 20px 15px;
    font-size: 16px;
    text-align: center;
    color:rgb(190, 190, 190);
    text-decoration: none;
    overflow: hidden;
}

nav li a:hover:not(.active) {
    color: white;
}

nav #name_format {
    background-color: #0077da;
    color: #ffffff;
    font-weight: bold;
}

.active {
    color: white;
    text-decoration: underline;
}

.float_left{
    float: left;
}
/* Navigation Formatting Ends */

/* About Section Formatting Starts */
.about_content{
    margin: 0 auto;
    padding-bottom: 20px;
    width: 50%
}

.about_content h1{
    text-align: center;
}

.about_content p{
    line-height: 30px;
}

.about_content a:hover{
    opacity: 0.7;
    font-style: italic !important;
}

.about_content a:visited{
    color: purple;
}
/* About Section Formatting Ends */

/* Table Formatting Starts */
table, thead, tbody, tr{
    margin: 0 auto;
    padding: 5px;
}

tbody{
    line-height: 25px;
}

th:nth-child(2), td:nth-child(2){
    padding: 0px 15px;
}

th:nth-child(3), td:nth-child(3){
    padding: 0 15px;
}

td{
    padding-right: 10px;
}
/* Table Formatting Ends */
