/* Default Formatting STARTS */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    z-index: 1;
}

h1 {
    margin-top: 10px;
    font-size: 20pt;
  
}

h2 {
    margin-top: 10px;
    font-size: 18pt;
}

.center_content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Default Formatting ENDS */

/* Navigation Formatting STARTS */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
    z-index: 2;
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    background-color: #444;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    padding: 20px 15px;
    font-size: 16px;
    text-align: center;
    color:rgb(190, 190, 190);
    text-decoration: none;
    overflow: hidden;
}

nav li a:hover:not(.active){
    color: white;
}

#name_format {
    background-color: #0077da;
    color: #ffffff;
    font-weight: bold;
}

.active {
    color: white;
    text-decoration: underline;
}

.float_left {
    float: left;
}
/* Navigation Formatting ENDS */

/* Profile Picture Formatting STARTS */
.profile_pic_contact {
    width: 100%;
    height: auto;
    border-radius: 50px 50px 0px 0px;
}

.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 275px;
    border-radius: 50px;
}

div.container_pic_caption {
    margin: 0;
    padding: 8px 0px;
} 

div.container_pic_caption p {
    margin: 0px 0px 3px 0px;
}
/* Profile Picture Formatting ENDS */

/* Contact Info STARTS */
.contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.contact a{
    text-decoration: none;
    color: black;
}

.contact a:hover{
    color: blue;
    padding-bottom: 3px;
    border-bottom: 1px solid blue;
}

.contact p{
    padding: 0px 20px;
}

.contact img{
    width: 15px;
    height: auto;
    margin-left: 5px;
}
/* Contact Info ENDS */

/* Form STARTS */
.form_format {
    display: block;
    margin: 0 auto;
    padding-right: 15%;
    width: 25%;
    text-align: right;
}

.format_instructions{
    margin-bottom: 0;
    font-size: 10pt;
}

label, input {
    margin: 5px 0px;
}

textarea{
    margin-bottom: -20px;
}

.button-primary{
    cursor: pointer;
    height: 30px;
    margin-top: 40px;
    padding: 0px 10px;
    border-radius: 6px;
    border: 0px;
    color: white;
    font-weight: bold;
    background-color: #333;
}

.button-primary:hover{
    opacity: .8;
}
/* Form ENDS */

/* Call to action link STARTS */
.call_to_action{
    margin-top: 0px;
    text-align: center;
}

.call_to_action a:hover{
    opacity: 0.7;
}

.call_to_action a:visited{
    color: purple;
}
/* Call to action link ENDS*/

/* Footer Icons STARTS */
.footer-h2-margin{
    margin-bottom: 5px;
}

.git-margin{
    margin-right: -5px;
}

.footer-icons-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-align: center;
}

.icon-display{
    display: inline;
    margin-right: 10px;
}

.icon-display a:hover{
    opacity: 0.7;
}
/* Footer Icons ENDS */


