/******** Default Formatting STARTS ********/
:root {
    --primary-color: lightblue;
    /* --primary-color: lightgrey;     */
    /* navbar colors */
    --navbar-background: #444;
    --nav-hover-color: white;
    --nav-text-shadow-color: #1BC4F9;
    --active-link-color: white;
    --visted-link-color: purple;
    /* contact pg colors */
    --contact-pg-link-hover: blue;
    /* form colors */
    --form-border-color: #17a8d4;
    --form-input-bg-color: whitesmoke;
    --form-input-focus-color: whitesmoke;
    /* work grid colors */
    --grid-border-color: #1BC4F9;
    --grid-border-color: whitesmoke;
    --grid-bg-color: whitesmoke;
    --grid-shadow-hover: #222;
    --grid-shadow-color: #333;
    --grid-link-visited: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    z-index: 1;
}

div {
    margin: 10px
}

h1 {
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 26pt;
    line-height: normal;
}

h2 {
    margin-top: 10px;
    font-size: 18pt;
}

.center_content_flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
}

.resume-button-margin {
    margin: 50px 0;
}

.center_content_block {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.button, button {
    /* overwrite browser defaults */
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles */
    text-decoration: none;
    border: none;
    /* font-weight: bold; */
    background-color: #222;
    color: rgb(190, 190, 190);
    border-radius: 30px;
    padding: 15px;
    /* transitions */
    transition: 0.2s;
    transition-property: opacity, color;
}

button:hover,
.button:hover {
    color: var(--nav-hover-color);
    opacity: 0.9;
}
/******** Default Formatting ENDS ********/

/******** Navigation Formatting STARTS ********/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

header img {
    width: 100%;
    height: 61px;
    background-color: var(--navbar-background);
}

.page-header {   
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.nav_list {
    list-style-type: none;
    background-color: var(--navbar-background);
    margin-top: 0px;
    padding: 21.5px 15px;
}

.nav_list li {
    display: inline-block;
    margin-left: 20px;
}

nav li a {
    margin-right: 10px;
    font-size: 16px;
    color:rgb(190, 190, 190);
    text-decoration: none;
    transition: 0.2s ease-out;
}

nav li a:hover:not(.active) {
    color: var(--nav-hover-color);
    text-shadow: 0 0 15px var(--nav-text-shadow-color);
}

.active {
    color: var(--active-link-color);
    border-bottom: 2px var(--active-link-color) solid; 
}
/******** Navigation Formatting ENDS ********/

/******** INDEX page start ********/
.profile_portrait_index {
    float: left;
    margin-right: 20px;
    width: 300px;
    border-radius: 50%;
}
/******** INDEX page ENDS ********/

/******** ABOUT Page STARTS ********/
.about_content {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 50%
}

.about_content h1 {
    text-align: center;
}

.about_content p {
    line-height: 30px;
}

.about_content a:hover {
    opacity: 0.7;
    font-style: italic !important;
}

.about_content a:visited {
    color: var(--visted-link-color);
}

table, thead, tbody, tr {
    margin: 0 auto;
    padding: 5px;
}

tbody {
    line-height: 25px;
}

th:nth-child(2), td:nth-child(2) {
    padding: 0px 15px;
}

th:nth-child(3), td:nth-child(3) {
    padding: 0 15px;
}

td {
    padding-right: 10px;
}

.svg-img {
    text-align: center;
}

.daftpunk-img {
    text-align: center;
}

.daftpunk-img svg {
    width: 200px;
    height: auto;
}

@keyframes sun-color{
    0%   {fill: yellow;}
    33%  {fill: orange;}
    66%  {fill: orangered;}
    100% {fill: red;}
}

.sun {
    animation-duration: 8s;
    animation-name: sun-color;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes visor-color-change {
    0%   {fill: red;}
    25%  {fill: blue;}
    50%  {fill: greenyellow;}
    75%  {fill: magenta;}
    100% {fill: cyan;}
}

#path212:hover, #path444:hover {
    animation-duration: .5s;
    animation-name: visor-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    cursor: pointer;
}

@keyframes cloud-move {
    from {
      transform: translate(475px, 50px);
    }
    to {
      transform: translate(355px, 50px);
    }
}

.cloud-back {
   animation: 10s cloud-move infinite normal linear;
}

/******** ABOUT page ENDS ********/

/******** CONTACT page STARTS ********/
.call_to_action h1{
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.call_to_action a:hover {
    opacity: 0.7;
}

.call_to_action a:visited {
    color: var(--visted-link-color);
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    margin: 0 0 20px 0;
}

.contact-grid-item-1 {
    margin: 0;
}

.contact-grid-item-2 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.contact-info {
    margin-top: 75px;
    display: inline-flex;
    flex-direction: column;
}

.contact-info a {
    text-decoration: none;
    color: black;
}

.contact-info a:hover {
    color: var(--contact-pg-link-hover);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--contact-pg-link-hover);
}

.contact-info p {
    padding: 0px 20px;
}

.contact-info img {
    width: 15px;
    height: auto;
}

    /* Profile Picture STARTS */
.profile_portrait_contact {
    width: 100%;
    height: auto;
    border-radius: 50px 50px 0px 0px;
}

.polaroid {
    height: 300px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 240px;
    border-radius: 50px;
}

.container_portrait_caption, .container_portrait_caption p {
    text-align: center;
    margin: 0;
    padding: 2px 0px;
}

    /* Profile Picture ENDS */
    /* Form STARTS */
.form-container {
    display: block;
    margin: 0;
}

.form_format {
    width: 300px;
    margin-right: 20px;
    margin-left: auto;
}

.format_instructions {
    margin-top: 5px;
    font-size: 10pt;
}

textarea {
    display: block;
    width: 100%;
    height: 100px;
    background-color: var(--form-input-bg-color);
    border: 2px solid var(--form-border-color);
    border-radius: 5px;
}

textarea:focus {
    background-color: var(--form-input-focus-color);
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input:not([type=submit]) {
    width: 100%;
    height: 16pt;
    border: none;
    border: 2px solid var(--form-border-color);
    border-radius: 4px 4px 4px 4px;
    background-color: var(--form-input-bg-color);
}

input:focus {
    border: 50px;
    background-color: var(--form-input-focus-color);
}

input[type=submit] {
    margin-top: 10px
}
    /* Form ENDS */
/******** CONTACT page ENDS ********/

/******** WORK page STARTS ********/
    /* start grid fallback */
@supports not(display: grid) {
    .grid_item {
        display: inline-block;
        width: 33%;
        margin: 20px;
    }
}
    /* end grid fallback */
@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-gap: 5px;
        padding: 20px;
        margin: 0px 10% auto;
        /* background-color: #1BC4F9; */
    }

    .grid_item {
        padding: 10px;
        background-color: var(--grid-bg-color);
        width: auto;
        border: 5px solid var(--grid-border-color);
        border-radius: 10px;
        box-shadow: 0 0 5px var(--grid-shadow-color);
    }

    .grid_item:hover {
        /* transform: rotate(5deg); */
        box-shadow: 0 0 15px var(--grid-shadow-hover);
        transition-duration: 0.5s;
    }
    
    .grid-link, .grid_item:visited {
        color: var(--grid-link-visited);
        text-decoration: none;
    }

    .grid_item h1 {
        margin: 10px 0;
        font-size: 26pt;
    }

    .grid_item p {
        text-align: left;
    }
}
/******** WORK page ENDS ********/

/******** Footer Icons STARTS ********/
.footer-h2-margin {
    margin-bottom: 5px;
}

.footer-icons-center {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.icon-display {
    display: inline;
    margin: 5px 20px;
}

.git-margin {
    margin-right: -3px !important;
}

.icon-display img {
    margin: 0px 2px;
}

.icon-display a:hover {
    opacity: 0.7;
}
/******** Footer Icons ENDS ********/

/******** MEDIA QUERIES ********/
@media all and (max-width:1200px) {
    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-grid {
        grid-template-columns: auto;
        justify-content: center;
    }

    .contact-grid-item-2 {
        grid-row: 1;
        justify-content: center;
    }

    .form_format {
        margin: 0 auto;
    }
}

/* Tablets */
@media all and (max-width:1023px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .grid_item h1 {
        font-size: 21pt;
    }

    .about_content {
        width: 75%
    }
}

@media all and (max-width:687px) {
    .contact-grid {
        grid-template-columns: auto;
        justify-content: center;
    }

    .contact-grid-item-2 {
        justify-content: center;
    }

    .form_format {
        margin: 0 auto;
    }
}

/* Smartphones */
@media all and (max-width:678px) {
    .contact {
        flex-direction: column;
        text-align: center;
    }

    .page-header {
        flex-direction: column;
    }

    .page-header img {
        display: none;
    }

    .page-header__item {
        flex: 0 1 10px;
    }

    .nav_list {
        text-align: center;
    }

    .about_content {
        width: 75%;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .grid_item h1 {
        font-size: 21pt;
    }

    .profile_portrait_index {
        width: 275px;
    }
}

@media all and (max-width: 580px) {
   .contact-info {
        margin-top: 10px;
        margin-right: 0;
    }

   
}

/* small screens */
@media all and (max-width: 340px) {
    .grid_item h1 {
        font-size: 21pt;
    }

    .profile_portrait_index {
        width: 80%;
    }

    .form_format {
        width: 90%;
        margin: 0px 5px;
    }

    .grid_item h1 {
        font-size: 21pt;
        flex: 0 1 50px;
    }
}